@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

body {
  margin : 0px ;
  padding : 0px ;
}
/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0, 0.7 ),rgba(0,0,0, 0.5)), url("background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.holder {
  position: relative;
  width: 300px;
  height: 100vh;
  display: flex;
}

.hobbiesHolder {
  position: relative;
  width: 300;
  height: 500px;
  display: inline-block;
  top: 0%;
  left: 0px;
}
.hobbies {
  position: relative;
  left: 30px;
  top: 100px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  text-shadow: 0 0 7px red;
  transform: rotate(-15deg);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.hobby {
  text-shadow: 0 0 7px #f4f442;
  transition: 0.5s ;

}
.hobby:hover {
  transform: scale(1.2,1.2);
  color: grey;
  text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 15px #f4f442, 0 0 10px #f4f442, 0 0 10px #f4f442, 0 0 10px #f4f442, 0 0 10px #f4f442;

}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.holder2 {
  position: relative;
  width: 550px;
  height: 600px;
  display: flex;
  top: 10%;
  left: 90%;
}
.holder2 .box {
  position: relative;
  width: 550px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 1));
  box-sizing: border-box;
  border-radius: 10px;
}
.holder2 .images {
  position: relative;
  top: 10px;
  overflow: hidden;
}

.first {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  left: 150px;
  filter: brightness(0.8);
  transition: transform 1s;
}
.first:hover {
  transform: scale(1.1,1.1);
}

.holder2 .box h1 {
  position: relative;
  color: white;
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
  left: 90px;
}
.holder2 .box h2 {
  position: relative;
  color: white;
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  left: 10px;
  margin-top: -20px;
}
.holder2 .box h3 {
  position: relative;
  color: white;
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  left: 150px;
  margin-top: -20px;
}

.holder .box h1:hover,
.holder .box h2:hover,
.holder .box h3:hover {
  color: grey;
}

.holder2 .box ul {
  position: relative;
  list-style-type: none;
}
.holder2 .box ul li {
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  left: 100px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;

}
.icon {
  position: relative;
}
.icon .instagram i,
.icon .facebook i {
  font-size: 35px;
  position: relative;
  left: 240px;
  color: white;
  margin-right: 10px;
}
.icon .facebook i:hover {
  color: blue;
  transition: 1s;
  transform: scale(1.2);
}
.icon .instagram i:hover {
  color: #f70cb0;
  transition: 1s;
  transform: scale(1.2);
}
